@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;500&family=Playfair+Display&display=swap');


body {
  background-color: #d3d3d3;
  margin: 0;
  font-family: 'Heebo', sans-serif;
  font-family: 'Playfair Display', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
